@font-face {
    font-family: "Google Sans";
    src: url("GoogleSans-VariableFont_GRAD%2Copsz%2Cwght.ttf") format("truetype-variations");
}

* {
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

h1 {

    font-size: 10pt;
    text-align: center;
    color: honeydew;
    background-color: khaki;
    line-height: 18pt;

}

body {
    margin: 20px;
    font-family: "Google Sans", sans-serif;
}

details {
    cursor: pointer;
}



img {
    width: 150px;
    vertical-align: bottom;

}

.image-strip {
    text-align: center;
}


summary {
  list-style: none;      /* 점 제거 */
  -webkit-appearance: none;
  appearance: none;
    padding: 0;      /* 브라우저 기본 padding 제거 */
  display: block;  /* block으로 만들어서 margin-left가 확실히 먹게 */
  font-size: 10pt;
  line-height: 20pt;

}

.left {
  text-align: left;
  margin-left: 20px;
}

.margin {

    text-align: left;
    margin-left: 150px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  margin-right: 20px;
}



/* 눈송이 전체 화면 overlay */
.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* 클릭 방해 안 함 */
  overflow: hidden;
  z-index: 9999;
}


/* 눈송이 공통 스타일 */
.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 10px;
  user-select: none;
  pointer-events: none;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* 눈 내리는 애니메이션 */
@keyframes fall {
  0% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(100vh) rotate(360deg); }
}

